@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    /* Primary */

    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral  */

    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

}

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cream);
}

h1 {
    font-family: "Fraunces", sans-serif;
    font-size: 25px;
}

p {
    font-size: 14px;
}

.card {
    width: 500px;
    height: 100%;
}

.container {
    display: flex;
}

.card-img {
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
    width: 50%;
    background-position: center center;
    border-radius: .5rem 0 0 .5rem;
}

.card-info  {
    width: 50%;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 0 .5rem .5rem 0;
}

.sub-title {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--dark-grayish-blue);
    letter-spacing: 3px;
}

.title {
    margin: 1rem 0;
}

.desc {
    color: var(--dark-grayish-blue);
    margin-bottom: 1rem;
}

.prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.prices h1 {
    color: var(--dark-cyan);
}

.prices p {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}

button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border: none;
    border-radius: .5rem;
    padding: .7rem;
    background-color: var(--dark-cyan);
    gap: .5rem;
    cursor: pointer;
    transition: all 0.3s ease; 
    /* transition suaviza, deixando um aspecto mais suave */
}

button:hover {
    background-color: var(--very-dark-blue);
}

@media screen and (max-width:550px) {
    .card {
        width: 350px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .card-img {
        background-image: url(./images/image-product-mobile.jpg);
        background-size: cover;
        border-radius: .5rem .5rem 0 0;
        height: 250px;
        width: 100%;
        background-repeat: no-repeat;
    }
    .card-info {
        width: 100%;
    }
}